@import "https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700&display=swap";
@import "https://fonts.googleapis.com/css2?family=Gothic+A1:wght@100;200;300;400;500;600;700&display=swap";
#app {
  font-size: 62.5%;
  height: 100vh;
  overflow: hidden;
  width: 100vw;
}
:root {
  --prism-scheme: light;
  --prism-foreground: #6e6e6e;
  --prism-background: #f4f4f4;
  --prism-comment: #a8a8a8;
  --prism-string: #555555;
  --prism-literal: #333333;
  --prism-keyword: #000000;
  --prism-function: #4f4f4f;
  --prism-deleted: #333333;
  --prism-class: #333333;
  --prism-builtin: #757575;
  --prism-property: #333333;
  --prism-namespace: #4f4f4f;
  --prism-punctuation: #ababab;
  --prism-decorator: var(--prism-class);
  --prism-operator: var(--prism-punctuation);
  --prism-number: var(--prism-literal);
  --prism-boolean: var(--prism-literal);
  --prism-variable: var(--prism-literal);
  --prism-constant: var(--prism-literal);
  --prism-symbol: var(--prism-literal);
  --prism-interpolation: var(--prism-literal);
  --prism-selector: var(--prism-keyword);
  --prism-keyword-control: var(--prism-keyword);
  --prism-regex: var(--prism-string);
  --prism-json-property: var(--prism-property);
  --prism-inline-background: var(--prism-background);
  --prism-comment-style: italic;
  --prism-url-decoration: underline;
  --prism-line-number: #a5a5a5;
  --prism-line-number-gutter: #333333;
  --prism-line-highlight-background: #eeeeee;
  --prism-selection-background: #aaaaaa;
  --prism-marker-color: var(--prism-foreground);
  --prism-marker-opacity: 0.4;
  --prism-marker-font-size: 0.8em;
  --prism-font-size: 1em;
  --prism-line-height: 1.5em;
  --prism-font-family: monospace;
  --prism-inline-font-size: var(--prism-font-size);
  --prism-block-font-size: var(--prism-font-size);
  --prism-tab-size: 2;
  --prism-block-padding-x: 1em;
  --prism-block-padding-y: 1em;
  --prism-block-margin-x: 0;
  --prism-block-margin-y: 0.5em;
  --prism-block-radius: 0.3em;
  --prism-inline-padding-x: 0.3em;
  --prism-inline-padding-y: 0.1em;
  --prism-inline-radius: 0.3em;
  --prism-font-size: 0.9rem;
  --prism-font-family: "Fira Code", monospace;
}
div[class*="language-"],
pre[class*="language-"],
code[class*="language-"] {
  font-size: var(--prism-font-size);
  font-family: var(--prism-font-family);
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  line-height: var(--prism-line-height);
  -moz-tab-size: var(--prism-tab-size);
  -o-tab-size: var(--prism-tab-size);
  tab-size: var(--prism-tab-size);
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
  color: var(--prism-foreground) !important;
}
div[class*="language-"],
pre[class*="language-"] {
  font-size: var(--prism-block-font-size);
  padding: var(--prism-block-padding-y) var(--prism-block-padding-x);
  margin: var(--prism-block-margin-y) var(--prism-block-margin-x);
  border-radius: var(--prism-block-radius);
  overflow: auto;
  background: var(--prism-background);
}
:not(pre) > code[class*="language-"] {
  font-size: var(--prism-inline-font-size);
  padding: var(--prism-inline-padding-y) var(--prism-inline-padding-x);
  border-radius: var(--prism-inline-radius);
  background: var(--prism-inline-background);
}
pre[class*="language-"]::selection,
pre[class*="language-"] ::selection,
code[class*="language-"]::selection,
code[class*="language-"] ::selection,
pre[class*="language-"]::-moz-selection,
pre[class*="language-"] ::-moz-selection,
code[class*="language-"]::-moz-selection,
code[class*="language-"] ::-moz-selection {
  background: var(--prism-selection-background);
}
.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: var(--prism-comment);
  font-style: var(--prism-comment-style);
}
.token.namespace {
  color: var(--prism-namespace);
}
.token.interpolation {
  color: var(--prism-interpolation);
}
.token.string {
  color: var(--prism-string);
}
.token.punctuation {
  color: var(--prism-punctuation);
}
.token.operator {
  color: var(--prism-operator);
}
.token.keyword.module,
.token.keyword.control-flow {
  color: var(--prism-keyword-control);
}
.token.url,
.token.symbol,
.token.inserted {
  color: var(--prism-symbol);
}
.token.constant {
  color: var(--prism-constant);
}
.token.string.url {
  text-decoration: var(--prism-url-decoration);
}
.token.boolean,
.language-json .token.boolean {
  color: var(--prism-boolean);
}
.token.number,
.language-json .token.number {
  color: var(--prism-number);
}
.token.variable {
  color: var(--prism-variable);
}
.token.keyword {
  color: var(--prism-keyword);
}
.token.atrule,
.token.attr-value,
.token.selector {
  color: var(--prism-selector);
}
.token.function {
  color: var(--prism-function);
}
.token.deleted {
  color: var(--prism-deleted);
}
.token.important,
.token.bold {
  font-weight: 700;
}
.token.italic {
  font-style: italic;
}
.token.class-name {
  color: var(--prism-class);
}
.token.tag,
.token.builtin {
  color: var(--prism-builtin);
}
.token.attr-name,
.token.property,
.token.entity {
  color: var(--prism-property);
}
.language-json .token.property {
  color: var(--prism-json-property);
}
.token.regex {
  color: var(--prism-regex);
}
.token.decorator,
.token.annotation {
  color: var(--prism-decorator);
}
.line-numbers .line-numbers-rows {
  border-right-color: var(--prism-line-number);
}
.line-numbers-rows > span:before {
  color: var(--prism-line-number-gutter);
}
.line-highlight {
  background: var(--prism-line-highlight-background);
}
html:not(.dark) {
  --prism-foreground: #393a34;
  --prism-background: #f8f8f8;
  --prism-comment: #008000;
  --prism-namespace: #4ec9b0;
  --prism-string: #a31515;
  --prism-punctuation: #393a34;
  --prism-literal: #36acaa;
  --prism-keyword: #0000ff;
  --prism-function: #393a34;
  --prism-deleted: #9a050f;
  --prism-class: #2b91af;
  --prism-builtin: #ce9178;
  --prism-property: #2b91af;
  --prism-regex: #ff0000;
}
html.dark {
  --prism-foreground: #d4d4d4;
  --prism-background: #1e1e1e;
  --prism-comment: #6a9955;
  --prism-namespace: #4ec9b0;
  --prism-string: #ce9178;
  --prism-punctuation: #d4d4d4;
  --prism-literal: #36acaa;
  --prism-keyword: #569cd6;
  --prism-function: #dcdcaa;
  --prism-deleted: #ce9178;
  --prism-class: #4ec9b0;
  --prism-builtin: #ce9178;
  --prism-property: #b5cea8;
  --prism-regex: #d16969;
  --tw-bg-opacity: 1;
  background-color: rgba(49, 55, 69, var(--tw-bg-opacity));
}
.article-body {
  --tw-text-opacity: 1;
  color: rgba(63, 71, 90, var(--tw-text-opacity));
  line-height: 1.625;
}
.dark .article-body {
  --tw-text-opacity: 1;
  color: rgba(225, 228, 234, var(--tw-text-opacity));
}
.article-body h1:hover .header-anchor,
.article-body h1:focus .header-anchor,
.article-body h2:hover .header-anchor,
.article-body h2:focus .header-anchor,
.article-body h3:hover .header-anchor,
.article-body h3:focus .header-anchor,
.article-body h4:hover .header-anchor,
.article-body h4:focus .header-anchor,
.article-body h5:hover .header-anchor,
.article-body h5:focus .header-anchor,
.article-body h6:hover .header-anchor,
.article-body h6:focus .header-anchor {
  opacity: 0.5;
}
.article-body p {
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
}
.article-body a:not(.table-of-contents) {
  font-weight: 600;
  transition: all 0.3s ease;
}
.article-body a:not(.table-of-contents):hover {
  text-decoration: underline;
}
.article-body a.header-anchor {
  float: left;
  margin-top: 0.125em;
  margin-left: -1.5em;
  font-size: 0.85em;
  opacity: 0;
  text-decoration: none;
  border: 0 !important;
}
.article-body a.header-anchor:hover,
.article-body a.header-anchor:focus {
  text-decoration: none;
}
.article-body .table-of-contents {
  --tw-border-opacity: 1;
  border-color: rgba(225, 228, 234, var(--tw-border-opacity));
  border-radius: 0.25rem;
  border-width: 1px;
  line-height: 2;
  padding: 1rem;
  width: 100%;
}
@media (min-width: 768px) {
  .article-body .table-of-contents {
    width: 91.666667%;
  }
}
@media (min-width: 1024px) {
  .article-body .table-of-contents {
    width: 50%;
  }
}
.article-body .table-of-contents a {
  font-weight: 700;
}
.article-body .table-of-contents ul {
  margin-bottom: 0;
}
.article-body ul {
  list-style-type: disc;
  margin-bottom: 1.25rem;
}
.article-body ul li {
  margin-left: 1.25rem;
  position: relative;
}
.article-body img {
  border-radius: 0.25rem;
  margin: auto;
  --tw-shadow: 0 1px 3px 0 rgb(0 0 0/0.1), 0 1px 2px -1px rgb(0 0 0/0.1);
  --tw-shadow-colored: 0 1px 3px 0 var(--tw-shadow-color),
    0 1px 2px -1px var(--tw-shadow-color);
  -webkit-box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  width: 91.666667%;
}
.article-body blockquote {
  margin: 0;
  padding: 0 1em;
  opacity: 0.8;
  border-left: 0.25em solid #63c0b6;
}
.article-body blockquote:first-child {
  margin-top: 0;
}
.article-body blockquote:last-child {
  margin-bottom: 0;
}
.article-body pre {
  margin-bottom: 1.25rem;
}
.article-body code {
  font-family: monospace;
}
.article-body code:not([class]) {
  --tw-bg-opacity: 1;
  background-color: rgba(165, 173, 192, var(--tw-bg-opacity));
  border-radius: 0.25rem;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
  padding: 0.25rem;
  --tw-text-opacity: 1;
  color: rgba(55, 65, 81, var(--tw-text-opacity));
  overflow-wrap: break-word;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Noto Sans KR, sans-serif;
}
a {
  cursor: pointer;
}
*,
:before,
:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
  border-color: #e5e7eb;
}
* {
  --tw-ring-inset: var(--tw-empty);
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgba(59, 130, 246, 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
}
:root {
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
}
:-moz-focusring {
  outline: 1px dotted ButtonText;
}
:-moz-ui-invalid {
  box-shadow: none;
}
::moz-focus-inner {
  border-style: none;
  padding: 0;
}
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}
::-webkit-search-decoration {
  -webkit-appearance: none;
}
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}
[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}
abbr[title] {
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
}
body {
  margin: 0;
  font-family: inherit;
  line-height: inherit;
}
html {
  -webkit-text-size-adjust: 100%;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", Segoe UI Symbol, "Noto Color Emoji";
  line-height: 1.5;
}
hr {
  height: 0;
  color: inherit;
  margin: 0;
  border-top-width: 1px;
}
h1 {
  font-size: 1.5rem;
  font-size: [object Object];
  font-weight: 700;
}
h2 {
  font-size: 1.25rem;
  font-size: [object Object];
  font-weight: 700;
}
h3,
h4,
h5,
h6 {
  font-size: 1.125rem;
  font-size: [object Object];
  font-weight: 700;
}
img {
  border-style: solid;
  max-width: 100%;
  height: auto;
}
img,
svg {
  display: block;
  vertical-align: middle;
}
.bg-\[\#1F2226\] {
  --tw-bg-opacity: 1;
  background-color: rgba(31, 34, 38, var(--tw-bg-opacity));
}
.bg-color-\[rgba\(103\,115\,131\,0\.9\)\] {
  --tw-bg-opacity: 0.9;
  background-color: rgba(103, 115, 131, var(--tw-bg-opacity));
}
.rounded-xl {
  border-radius: 0.75rem;
}
.border-1 {
  border-width: 1px;
}
.cursor-pointer {
  cursor: pointer;
}
.inline-block {
  display: inline-block;
}
.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
.grid {
  display: -ms-grid;
  display: grid;
}
.flex-col {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;
}
.items-center {
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.h-screen {
  height: 100vh;
}
.h-8 {
  height: 2rem;
}
.h-full {
  height: 100%;
}
.h-40px {
  height: 40px;
}
.h-13 {
  height: 3.25rem;
}
.m-0 {
  margin: 0;
}
.my-0\.5em {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}
.overflow-hidden {
  overflow: hidden;
}
.p-0 {
  padding: 0;
}
.py-0\.2em {
  padding-top: 0.2em;
  padding-bottom: 0.2em;
}
.absolute {
  position: absolute;
}
.relative {
  position: relative;
}
.inset-0 {
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}
.top-0 {
  top: 0px;
}
.right-0 {
  right: 0px;
}
.stroke-2 {
  stroke-width: 2;
}
.align-middle {
  vertical-align: middle;
}
.w-screen {
  width: 100vw;
}
.w-full {
  width: 100%;
}
.w-10 {
  width: 2.5rem;
}
.w-13 {
  width: 3.25rem;
}
.gap-y-4 {
  -webkit-row-gap: 1rem;
  -moz-row-gap: 1rem;
  grid-row-gap: 1rem;
  row-gap: 1rem;
}
.grid-cols-1 {
  grid-template-columns: repeat(1, minmax(0, 1fr));
}
.transform {
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-translate-z: 0;
  --tw-rotate: 0;
  --tw-rotate-x: 0;
  --tw-rotate-y: 0;
  --tw-rotate-z: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-scale-z: 1;
  -webkit-transform: translateX(var(--tw-translate-x))
    translateY(var(--tw-translate-y)) translateZ(var(--tw-translate-z))
    rotate(var(--tw-rotate)) rotateX(var(--tw-rotate-x))
    rotateY(var(--tw-rotate-y)) rotateZ(var(--tw-rotate-z))
    skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x))
    scaleY(var(--tw-scale-y)) scaleZ(var(--tw-scale-z));
  -ms-transform: translateX(var(--tw-translate-x))
    translateY(var(--tw-translate-y)) translateZ(var(--tw-translate-z))
    rotate(var(--tw-rotate)) rotateX(var(--tw-rotate-x))
    rotateY(var(--tw-rotate-y)) rotateZ(var(--tw-rotate-z))
    skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x))
    scaleY(var(--tw-scale-y)) scaleZ(var(--tw-scale-z));
  transform: translate(var(--tw-translate-x)) translateY(var(--tw-translate-y))
    translateZ(var(--tw-translate-z)) rotate(var(--tw-rotate))
    rotateX(var(--tw-rotate-x)) rotateY(var(--tw-rotate-y))
    rotate(var(--tw-rotate-z)) skew(var(--tw-skew-x)) skewY(var(--tw-skew-y))
    scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
    scaleZ(var(--tw-scale-z));
}
.scale-110 {
  --tw-scale-x: 1.1;
  --tw-scale-y: 1.1;
  --tw-scale-z: 1.1;
}
.transition-all {
  -webkit-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-duration: 0.15s;
  -o-transition-duration: 0.15s;
  transition-duration: 0.15s;
}
